.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #000000;
  border-bottom: 1px solid #222;
}

.logo {
  color: #00ffff;
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: #cccccc;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00ffff;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0d0d0d;
  color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px; /* ADD THIS */
}


.container {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
}

h1 {
  color: #00ffff;
  text-align: center;
  letter-spacing: 2px;
}

p {
  text-align: center;
  font-size: 18px;
  color: #cccccc;
}

@media (max-width: 768px) {
  body {
    font-size: 20px;
  }

  .navbar {
    padding: 20px;
  }

  .logo {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .nav-links a {
    font-size: 20px;
    padding: 12px 0;
  }

  h1 {
    font-size: 28px;
  }

  p {
    font-size: 18px;
  }

  .container {
    padding: 30px 20px;
  }
}

